Demonstrate we can specify a simple interface to load data sources.

In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload

In [2]:
%autoreload 2

from ldr import Schema, Filter, Selector
from ingresso import Sales0

In [3]:
sources = { "fx": [ "tests/media/gbp-usd.csv", Schema(desc = "fx") ], 
           "fx2": [ "tests/media/usd-gbp.csv", Schema(desc = "fx-datahub") ], 
           "sales": [ "tests/media/sales.csv", Schema(desc = "sales") ],  
           "weather": [ "tests/media/london.csv", Schema(desc = "weather") ],
           "weather2": [ "tests/media/metoffice.csv", Schema(desc = "weather-metoffice") ] }

In [4]:
filters = list(map( lambda x: Filter(x[0], x[1]), sources.values()))

In [5]:
def postprocess0(f0):
    f0.series("datetime", index=True)
    return f0.series("value")

In [6]:
series = list(map(lambda x: postprocess0(x), filters))

Finally, merge the series together, we pass the monthly Met-office series separately.

In [7]:
s0s = list(filter(lambda x: x.name != "weather-metoffice", series))
s1 = list(filter(lambda x: x.name == "weather-metoffice", series))
df = pd.DataFrame(s0s).transpose()
s0 = Sales0(df, metoffice=s1)
print(s0)

'Sales0: fx, fx-datahub, sales, weather'

In [8]:
s0.constrain()
print(s0._cdf.describe())
print("series-length: {0:d}".format(len(s0._cdf.index)))
s0._cdf.head()

               fx   fx-datahub        sales      weather
count  788.000000  1122.000000  1864.000000  1773.000000
mean     1.366371     1.473153  1115.015558    12.029724
std      0.098996     0.148440   927.505853     5.406125
min      1.204800     1.211827     0.000000    -4.100000
25%      1.292975     1.316569   310.000000     7.900000
50%      1.338350     1.512745   852.500000    11.900000
75%      1.437975     1.594070  1805.250000    16.300000
max      1.577600     1.716444  4864.000000    27.900000
series-length: 1864

            fx  fx-datahub  sales  weather
dt0
2013-06-11 NaN    1.558603    0.0     12.3
2013-06-12 NaN    1.569612    3.0      5.8
2013-06-13 NaN    1.569859   12.0      NaN
2013-06-14 NaN    1.568627   17.0      NaN
2013-06-15 NaN         NaN   14.0      NaN

In [35]:
print(len(s0._cdf))
Selector.nulls(s0._cdf)

1864

               N    R
fx          1076  0.6
fx-datahub   742  0.4
weather       91  0.0
sales          0  0.0

In [30]:
df = s0._cdf
df.isnull().sum() / len(df)

fx            0.577253
fx-datahub    0.398069
sales         0.000000
weather       0.048820
dtype: float64

In [10]:
x0 = s0._df['sales']
x1 = x0[x0.notna()].index[0]

x0=s0._cdf['sales']
x0[x0.notna()].index[-1]

Timestamp('2018-07-18 00:00:00')

In [11]:
s0.weather()
s0.weather

dt0
1971-01-31          NaN
1971-02-28          NaN
1971-03-31          NaN
1971-04-30          NaN
1971-05-31          NaN
1971-06-30          NaN
1971-07-31          NaN
1971-08-31          NaN
1971-09-30          NaN
1971-10-31          NaN
1971-11-30          NaN
1971-12-31          NaN
1972-01-31          NaN
1972-02-29          NaN
1972-03-31          NaN
1972-04-30          NaN
1972-05-31          NaN
1972-06-30          NaN
1972-07-31          NaN
1972-08-31          NaN
1972-09-30          NaN
1972-10-31          NaN
1972-11-30          NaN
1972-12-31          NaN
1973-01-31          NaN
1973-02-28          NaN
1973-03-31          NaN
1973-04-30          NaN
1973-05-31          NaN
1973-06-30          NaN
                ...
2016-07-31    17.038710
2016-08-31    16.829032
2016-09-30    15.136667
2016-10-31    11.532258
2016-11-30     8.979310
2016-12-31     8.693548
2017-01-31     6.670000
2017-02-28     9.992857
2017-03-31    10.961290
2017-04-30    10.776667
2017-05-31    14.390323
2017-06-30    16.466667
2017-07-31    15.845161
2017-08-31    15.280645
2017-09-30    13.106667
2017-10-31    12.525806
2017-11-30     9.116667
2017-12-31     8.335484
2018-01-31     7.592308
2018-02-28     5.543478
2018-03-31     7.619231
2018-04-30    12.264000
2018-05-31    14.396154
2018-06-30    16.540000
2018-07-31    16.315385
2018-08-31    11.928571
2018-09-30    11.328571
2018-10-31    11.857143
2018-11-30    11.342857
2018-12-31    10.400000
Freq: M, Name: weather, Length: 576, dtype: float64

In [12]:
s0._df['sales'].resample("M").mean()

dt0
1971-01-31            NaN
1971-02-28            NaN
1971-03-31            NaN
1971-04-30            NaN
1971-05-31            NaN
1971-06-30            NaN
1971-07-31            NaN
1971-08-31            NaN
1971-09-30            NaN
1971-10-31            NaN
1971-11-30            NaN
1971-12-31            NaN
1972-01-31            NaN
1972-02-29            NaN
1972-03-31            NaN
1972-04-30            NaN
1972-05-31            NaN
1972-06-30            NaN
1972-07-31            NaN
1972-08-31            NaN
1972-09-30            NaN
1972-10-31            NaN
1972-11-30            NaN
1972-12-31            NaN
1973-01-31            NaN
1973-02-28            NaN
1973-03-31            NaN
1973-04-30            NaN
1973-05-31            NaN
1973-06-30            NaN
                 ...
2016-07-31    1319.612903
2016-08-31    1604.032258
2016-09-30    1686.300000
2016-10-31    2079.612903
2016-11-30    2582.233333
2016-12-31    2437.709677
2017-01-31    1726.774194
2017-02-28    1899.892857
2017-03-31    1820.322581
2017-04-30    1497.833333
2017-05-31    1744.225806
2017-06-30    1757.900000
2017-07-31    2128.709677
2017-08-31    2180.903226
2017-09-30    2205.266667
2017-10-31    3219.967742
2017-11-30    3559.166667
2017-12-31    2890.193548
2018-01-31    2481.967742
2018-02-28    2170.000000
2018-03-31    2237.483871
2018-04-30    1741.566667
2018-05-31    1887.774194
2018-06-30    1721.333333
2018-07-31    1535.777778
2018-08-31            NaN
2018-09-30            NaN
2018-10-31            NaN
2018-11-30            NaN
2018-12-31            NaN
Freq: M, Name: sales, Length: 576, dtype: float64

In [13]:
s0._df['fx'].resample("M").mean()

dt0
1971-01-31         NaN
1971-02-28         NaN
1971-03-31         NaN
1971-04-30         NaN
1971-05-31         NaN
1971-06-30         NaN
1971-07-31         NaN
1971-08-31         NaN
1971-09-30         NaN
1971-10-31         NaN
1971-11-30         NaN
1971-12-31         NaN
1972-01-31         NaN
1972-02-29         NaN
1972-03-31         NaN
1972-04-30         NaN
1972-05-31         NaN
1972-06-30         NaN
1972-07-31         NaN
1972-08-31         NaN
1972-09-30         NaN
1972-10-31         NaN
1972-11-30         NaN
1972-12-31         NaN
1973-01-31         NaN
1973-02-28         NaN
1973-03-31         NaN
1973-04-30         NaN
1973-05-31         NaN
1973-06-30         NaN
                ...
2016-07-31    1.314776
2016-08-31    1.310461
2016-09-30    1.314859
2016-10-31    1.233462
2016-11-30    1.244145
2016-12-31    1.247350
2017-01-31    1.235336
2017-02-28    1.248875
2017-03-31    1.234743
2017-04-30    1.264385
2017-05-31    1.292213
2017-06-30    1.281214
2017-07-31    1.299890
2017-08-31    1.295700
2017-09-30    1.331552
2017-10-31    1.320150
2017-11-30    1.323077
2017-12-31    1.340343
2018-01-31    1.381435
2018-02-28    1.396380
2018-03-31    1.397627
2018-04-30    1.407024
2018-05-31    1.346022
2018-06-30    1.329212
2018-07-31    1.320900
2018-08-31         NaN
2018-09-30         NaN
2018-10-31         NaN
2018-11-30         NaN
2018-12-31         NaN
Freq: M, Name: fx, Length: 576, dtype: float64

In [14]:
fw = list(filter(lambda x: x._schema.desc == "weather-metoffice", filters))[0]
x0 = fw._data
x0['day'] = 1
fw._data

         yyyy  mm  tmax  tmin    af   rain    sun  day
dt0
1948-01  1948   1   8.9   3.3   NaN   85.0    NaN    1
1948-02  1948   2   7.9   2.2   NaN   26.0    NaN    1
1948-03  1948   3  14.2   3.8   NaN   14.0    NaN    1
1948-04  1948   4  15.4   5.1   NaN   35.0    NaN    1
1948-05  1948   5  18.1   6.9   NaN   57.0    NaN    1
1948-06  1948   6  19.1  10.3   NaN   67.0    NaN    1
1948-07  1948   7  21.7  12.0   NaN   21.0    NaN    1
1948-08  1948   8  20.8  11.7   NaN   67.0    NaN    1
1948-09  1948   9  19.6  10.2   NaN   35.0    NaN    1
1948-10  1948  10  14.9   6.0   NaN   50.0    NaN    1
1948-11  1948  11  10.8   4.6   NaN   44.0    NaN    1
1948-12  1948  12   8.8   3.8   NaN   63.0    NaN    1
1949-01  1949   1   8.5   1.8   9.0   23.0    NaN    1
1949-02  1949   2  10.4   0.6  11.0   27.0    NaN    1
1949-03  1949   3   9.3   1.2  11.0   26.1    NaN    1
1949-04  1949   4  16.2   6.0   1.0   34.2    NaN    1
1949-05  1949   5  17.1   6.8   0.0   56.9    NaN    1
1949-06  1949   6  22.0  10.5   0.0    9.0    NaN    1
1949-07  1949   7  25.1  12.9   0.0   46.5    NaN    1
1949-08  1949   8  23.9  12.5   0.0   26.3    NaN    1
1949-09  1949   9  22.8  13.3   0.0   23.3    NaN    1
1949-10  1949  10  17.0   8.6   3.0  139.6    NaN    1
1949-11  1949  11  10.2   2.9   7.0   53.4    NaN    1
1949-12  1949  12   9.2   2.9   6.0   33.0    NaN    1
1950-01  1950   1   7.1   1.7  11.0   16.8    NaN    1
1950-02  1950   2   9.9   2.4   7.0   82.2    NaN    1
1950-03  1950   3  12.3   3.5   4.0   17.4    NaN    1
1950-04  1950   4  12.9   4.2   1.0   54.8    NaN    1
1950-05  1950   5  17.2   7.6   0.0   41.8    NaN    1
1950-06  1950   6  23.6  12.3   0.0   44.6    NaN    1
...       ...  ..   ...   ...   ...    ...    ...  ...
2016-01  2016   1   9.5   3.0   5.0   74.8   54.8    1
2016-02  2016   2   9.4   2.9   5.0   43.8   86.8    1
2016-03  2016   3  10.7   3.2   3.0   72.8  123.3    1
2016-04  2016   4  13.5   4.9   0.0   47.2  170.0    1
2016-05  2016   5  19.0   9.7   0.0   60.4  192.7    1
2016-06  2016   6  20.7  12.7   0.0   93.4  101.7    1
2016-07  2016   7  24.0  14.5   0.0   16.0  182.8    1
2016-08  2016   8  24.7  14.6   0.0   21.6  201.4    1
2016-09  2016   9  22.4  13.7   0.0   42.2  122.1    1
2016-10  2016  10  15.9   8.7   0.0   21.6  105.6    1
2016-11  2016  11  10.5   3.8   3.0   86.4   77.4    1
2016-12  2016  12  10.2   3.4   7.0   10.4   55.1    1
2017-01  2017   1   7.6   0.7  15.0   60.2   64.5    1
2017-02  2017   2  10.0   4.4   1.0   38.2   47.8    1
2017-03  2017   3  14.1   6.6   0.0   25.8  116.3    1
2017-04  2017   4  15.8   5.9   0.0    4.6  186.2    1
2017-05  2017   5  19.8  10.4   0.0   64.8  164.8    1
2017-06  2017   6  24.0  13.9   0.0   46.4  204.3    1
2017-07  2017   7  23.8  14.9   0.0   90.0  178.0    1
2017-08  2017   8  22.0  13.5   0.0   58.6  174.9    1
2017-09  2017   9  19.2  11.0   0.0   59.0  120.1    1
2017-10  2017  10  17.1  10.3   0.0    9.2   84.6    1
2017-11  2017  11  11.1   4.5   2.0   34.2   66.7    1
2017-12  2017  12   8.7   2.9   7.0   81.2   43.8    1
2018-01  2018   1   9.7   3.8   1.0   58.0   46.5    1
2018-02  2018   2   6.7   0.6  12.0   25.2   92.0    1
2018-03  2018   3   9.8   3.0   6.0   85.0   70.3    1
2018-04  2018   4  15.5   7.8   0.0   65.2  128.5    1
2018-05  2018   5  20.8   9.8   0.0   58.4  248.3    1
2018-06  2018   6  24.2  13.1   0.0    0.4  234.5    1

[846 rows x 8 columns]

In [15]:
x0
x1 = x0.rename(index=str, columns={"yyyy":"year", "mm":"month"})

In [16]:
x2 = pd.to_datetime(x1[['year', 'month', 'day']])
x2.dt.to_period('M')

dt0
1948-01   1948-01
1948-02   1948-02
1948-03   1948-03
1948-04   1948-04
1948-05   1948-05
1948-06   1948-06
1948-07   1948-07
1948-08   1948-08
1948-09   1948-09
1948-10   1948-10
1948-11   1948-11
1948-12   1948-12
1949-01   1949-01
1949-02   1949-02
1949-03   1949-03
1949-04   1949-04
1949-05   1949-05
1949-06   1949-06
1949-07   1949-07
1949-08   1949-08
1949-09   1949-09
1949-10   1949-10
1949-11   1949-11
1949-12   1949-12
1950-01   1950-01
1950-02   1950-02
1950-03   1950-03
1950-04   1950-04
1950-05   1950-05
1950-06   1950-06
            ...
2016-01   2016-01
2016-02   2016-02
2016-03   2016-03
2016-04   2016-04
2016-05   2016-05
2016-06   2016-06
2016-07   2016-07
2016-08   2016-08
2016-09   2016-09
2016-10   2016-10
2016-11   2016-11
2016-12   2016-12
2017-01   2017-01
2017-02   2017-02
2017-03   2017-03
2017-04   2017-04
2017-05   2017-05
2017-06   2017-06
2017-07   2017-07
2017-08   2017-08
2017-09   2017-09
2017-10   2017-10
2017-11   2017-11
2017-12   2017-12
2018-01   2018-01
2018-02   2018-02
2018-03   2018-03
2018-04   2018-04
2018-05   2018-05
2018-06   2018-06
Length: 846, dtype: object

In [17]:
"x" != "x"

False