Demonstrate we can specify a simple interface to load data sources.

In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload

In [2]:
%autoreload 2

from ldr import Schema, Filter, Selector
from ingresso import Sales0

In [3]:
sources = { "fx": [ "tests/media/gbp-usd.csv", Schema(desc = "fx") ], 
           "fx2": [ "tests/media/gbp-usd2.csv", Schema(desc = "fx-fxcm") ], 
           "sales": [ "tests/media/sales.csv", Schema(desc = "sales") ],  
           "weather": [ "tests/media/london.csv", Schema(desc = "weather") ],
           "weather2": [ "tests/media/metoffice.csv", Schema(desc = "weather-metoffice") ] }

In [4]:
filters = list(map( lambda x: Filter(x[0], x[1]), sources.values()))

In [5]:
def postprocess0(f0):
    f0.series("datetime", index=True)
    return f0.series("value")

In [6]:
series = list(map(lambda x: postprocess0(x), filters))

Finally, merge the series together, we pass the monthly Met-office series separately.

In [7]:
s0s = list(filter(lambda x: x.name != "weather-metoffice", series))
s1 = list(filter(lambda x: x.name == "weather-metoffice", series))
df = pd.DataFrame(s0s).transpose()
s0 = Sales0(df, metoffice=s1)
print(s0)

'Sales0: ()'

In [8]:
s0.constrain()
print(s0._cdf.describe())
print("series-length: {0:d}".format(len(s0._cdf.index)))

               fx      fx-fxcm        sales      weather
count  788.000000  1578.000000  1864.000000  1773.000000
mean     1.366371     1.460032  1115.015558    12.029724
std      0.098996     0.143808   927.505853     5.406125
min      1.204800     1.199990     0.000000    -4.100000
25%      1.292975     1.322625   310.000000     7.900000
50%      1.338350     1.472945   852.500000    11.900000
75%      1.437975     1.570043  1805.250000    16.300000
max      1.577600     1.716680  4864.000000    27.900000
series-length: 1864

In [9]:
print(len(s0._cdf))
Selector.nulls(s0._cdf)

1864

            N    R
fx       1076  0.6
fx-fxcm   286  0.2
weather    91  0.0
sales       0  0.0

In [10]:
fx0 = s0.fx()
s0._cdf

                fx  fx-fxcm   sales  weather      fx0
dt0
2013-06-11     NaN  1.56451     0.0     12.3  1.56451
2013-06-12     NaN  1.56765     3.0      5.8  1.56765
2013-06-13     NaN  1.57186    12.0      NaN  1.57186
2013-06-14     NaN  1.56981    17.0      NaN  1.56981
2013-06-15     NaN      NaN    14.0      NaN      NaN
2013-06-16     NaN  1.57283    27.0      NaN  1.57283
2013-06-17     NaN  1.57204    17.0      NaN  1.57204
2013-06-18     NaN  1.56428    28.0      NaN  1.56428
2013-06-19     NaN  1.54844    40.0      NaN  1.54844
2013-06-20     NaN  1.55076    41.0      NaN  1.55076
2013-06-21     NaN  1.54170    38.0      NaN  1.54170
2013-06-22     NaN      NaN    27.0      NaN      NaN
2013-06-23     NaN  1.53723    41.0      NaN  1.53723
2013-06-24     NaN  1.54341    49.0      NaN  1.54341
2013-06-25     NaN  1.54216    63.0      NaN  1.54216
2013-06-26     NaN  1.53133    87.0      NaN  1.53133
2013-06-27     NaN  1.52585    79.0      NaN  1.52585
2013-06-28     NaN  1.52081    84.0      NaN  1.52081
2013-06-29     NaN      NaN    79.0      NaN      NaN
2013-06-30     NaN  1.51994    99.0      NaN  1.51994
2013-07-01     NaN  1.52147    91.0      NaN  1.52147
2013-07-02     NaN  1.51538   113.0      NaN  1.51538
2013-07-03     NaN  1.52776   132.0      NaN  1.52776
2013-07-04     NaN  1.50689   138.0      NaN  1.50689
2013-07-05     NaN  1.48831   114.0      NaN  1.48831
2013-07-06     NaN      NaN    61.0      NaN      NaN
2013-07-07     NaN  1.48708    82.0     22.9  1.48708
2013-07-08     NaN  1.49498   127.0     18.7  1.49498
2013-07-09     NaN  1.48652   131.0     14.4  1.48652
2013-07-10     NaN  1.50075   126.0     14.6  1.50075
...            ...      ...     ...      ...      ...
2018-06-19  1.3180  1.31728  1584.0     20.2  1.31728
2018-06-20  1.3173  1.31681  1544.0     18.8  1.31681
2018-06-21  1.3252  1.32375  1465.0     15.6  1.32375
2018-06-22  1.3270  1.32577  1566.0     16.5  1.32577
2018-06-23     NaN      NaN  1340.0     18.1      NaN
2018-06-24  1.3262  1.32497  1700.0     19.9  1.32497
2018-06-25  1.3277  1.32758  1853.0     21.9  1.32758
2018-06-26  1.3228  1.32177  1599.0     21.7  1.32177
2018-06-27  1.3113  1.31106  1677.0     19.3  1.31106
2018-06-28  1.3078  1.30762  1414.0     19.4  1.30762
2018-06-29  1.3209  1.32028  1553.0     20.5  1.32028
2018-06-30     NaN      NaN  1244.0     20.3      NaN
2018-07-01  1.3209  1.31827  1546.0      3.3  1.31827
2018-07-02     NaN  1.31418  1577.0      2.2  1.31418
2018-07-03     NaN  1.31891  1328.0      6.3  1.31891
2018-07-04     NaN  1.32261  1408.0     12.1  1.32261
2018-07-05     NaN  1.32202  1820.0     19.8  1.32202
2018-07-06     NaN  1.32853  1663.0     16.7  1.32853
2018-07-07     NaN      NaN  1260.0     24.5      NaN
2018-07-08     NaN  1.33174  1449.0      NaN  1.33174
2018-07-09     NaN  1.32557  1660.0      NaN  1.32557
2018-07-10     NaN  1.32735  1676.0      NaN  1.32735
2018-07-11     NaN  1.32027  1492.0      NaN  1.32027
2018-07-12     NaN  1.32040  1479.0      NaN  1.32040
2018-07-13     NaN  1.32331  1428.0     20.6  1.32331
2018-07-14     NaN      NaN  1391.0     21.8      NaN
2018-07-15     NaN  1.32267  1639.0     22.8  1.32267
2018-07-16     NaN  1.32342  1665.0     22.7  1.32342
2018-07-17     NaN  1.31141  1576.0     19.1  1.31141
2018-07-18     NaN      NaN  1587.0     20.2      NaN

[1864 rows x 5 columns]

In [11]:
s0.weather()
s0.weather

dt0
2013-01-31    15.183333
2013-02-28    15.033333
2013-03-31    14.550000
2013-04-30    14.933333
2013-05-31    14.916667
2013-06-30    14.383333
2013-07-31    20.056000
2013-08-31    17.452000
2013-09-30    14.008333
2013-10-31    12.648000
2013-11-30     7.750000
2013-12-31     9.072000
2014-01-31     8.874194
2014-02-28    10.075000
2014-03-31    10.500000
2014-04-30    11.283333
2014-05-31    13.364516
2014-06-30    15.406667
2014-07-31    18.006452
2014-08-31    14.232258
2014-09-30    14.976667
2014-10-31    13.380645
2014-11-30    10.240000
2014-12-31     8.454839
2015-01-31     7.216129
2015-02-28     8.325000
2015-03-31     9.119355
2015-04-30    11.160000
2015-05-31    12.490323
2015-06-30    15.343333
                ...
2016-07-31    17.038710
2016-08-31    16.829032
2016-09-30    15.136667
2016-10-31    11.532258
2016-11-30     8.979310
2016-12-31     8.693548
2017-01-31     6.670000
2017-02-28     9.992857
2017-03-31    10.961290
2017-04-30    10.776667
2017-05-31    14.390323
2017-06-30    16.466667
2017-07-31    15.845161
2017-08-31    15.280645
2017-09-30    13.106667
2017-10-31    12.525806
2017-11-30     9.116667
2017-12-31     8.335484
2018-01-31     7.592308
2018-02-28     5.543478
2018-03-31     7.619231
2018-04-30    12.264000
2018-05-31    14.396154
2018-06-30    16.540000
2018-07-31    16.315385
2018-08-31    11.928571
2018-09-30    11.328571
2018-10-31    11.857143
2018-11-30    11.342857
2018-12-31    10.400000
Freq: M, Name: weather, Length: 72, dtype: float64

In [12]:
s0._df['sales'].resample("M").mean()

dt0
2013-01-31            NaN
2013-02-28            NaN
2013-03-31            NaN
2013-04-30            NaN
2013-05-31            NaN
2013-06-30      42.250000
2013-07-31     117.161290
2013-08-31     112.258065
2013-09-30      86.166667
2013-10-31     134.258065
2013-11-30     255.066667
2013-12-31     497.612903
2014-01-31     456.645161
2014-02-28     401.785714
2014-03-31     345.129032
2014-04-30     304.233333
2014-05-31     302.774194
2014-06-30     221.000000
2014-07-31     252.548387
2014-08-31     229.806452
2014-09-30     190.966667
2014-10-31     347.935484
2014-11-30     407.200000
2014-12-31     417.483871
2015-01-31     386.225806
2015-02-28     412.071429
2015-03-31     308.451613
2015-04-30     279.100000
2015-05-31     257.161290
2015-06-30     283.000000
                 ...
2016-07-31    1319.612903
2016-08-31    1604.032258
2016-09-30    1686.300000
2016-10-31    2079.612903
2016-11-30    2582.233333
2016-12-31    2437.709677
2017-01-31    1726.774194
2017-02-28    1899.892857
2017-03-31    1820.322581
2017-04-30    1497.833333
2017-05-31    1744.225806
2017-06-30    1757.900000
2017-07-31    2128.709677
2017-08-31    2180.903226
2017-09-30    2205.266667
2017-10-31    3219.967742
2017-11-30    3559.166667
2017-12-31    2890.193548
2018-01-31    2481.967742
2018-02-28    2170.000000
2018-03-31    2237.483871
2018-04-30    1741.566667
2018-05-31    1887.774194
2018-06-30    1721.333333
2018-07-31    1535.777778
2018-08-31            NaN
2018-09-30            NaN
2018-10-31            NaN
2018-11-30            NaN
2018-12-31            NaN
Freq: M, Name: sales, Length: 72, dtype: float64

In [13]:
s0._df['fx'].resample("M").mean()

dt0
2013-01-31         NaN
2013-02-28         NaN
2013-03-31         NaN
2013-04-30         NaN
2013-05-31         NaN
2013-06-30         NaN
2013-07-31         NaN
2013-08-31         NaN
2013-09-30         NaN
2013-10-31         NaN
2013-11-30         NaN
2013-12-31         NaN
2014-01-31         NaN
2014-02-28         NaN
2014-03-31         NaN
2014-04-30         NaN
2014-05-31         NaN
2014-06-30         NaN
2014-07-31         NaN
2014-08-31         NaN
2014-09-30         NaN
2014-10-31         NaN
2014-11-30         NaN
2014-12-31         NaN
2015-01-31         NaN
2015-02-28         NaN
2015-03-31         NaN
2015-04-30         NaN
2015-05-31         NaN
2015-06-30         NaN
                ...
2016-07-31    1.314776
2016-08-31    1.310461
2016-09-30    1.314859
2016-10-31    1.233462
2016-11-30    1.244145
2016-12-31    1.247350
2017-01-31    1.235336
2017-02-28    1.248875
2017-03-31    1.234743
2017-04-30    1.264385
2017-05-31    1.292213
2017-06-30    1.281214
2017-07-31    1.299890
2017-08-31    1.295700
2017-09-30    1.331552
2017-10-31    1.320150
2017-11-30    1.323077
2017-12-31    1.340343
2018-01-31    1.381435
2018-02-28    1.396380
2018-03-31    1.397627
2018-04-30    1.407024
2018-05-31    1.346022
2018-06-30    1.329212
2018-07-31    1.320900
2018-08-31         NaN
2018-09-30         NaN
2018-10-31         NaN
2018-11-30         NaN
2018-12-31         NaN
Freq: M, Name: fx, Length: 72, dtype: float64

In [14]:
fw = list(filter(lambda x: x._schema.desc == "weather-metoffice", filters))[0]
x0 = fw._data
x0['day'] = 1
fw._data

         yyyy  mm  tmax  tmin    af   rain    sun  day
dt0
1948-01  1948   1   8.9   3.3   NaN   85.0    NaN    1
1948-02  1948   2   7.9   2.2   NaN   26.0    NaN    1
1948-03  1948   3  14.2   3.8   NaN   14.0    NaN    1
1948-04  1948   4  15.4   5.1   NaN   35.0    NaN    1
1948-05  1948   5  18.1   6.9   NaN   57.0    NaN    1
1948-06  1948   6  19.1  10.3   NaN   67.0    NaN    1
1948-07  1948   7  21.7  12.0   NaN   21.0    NaN    1
1948-08  1948   8  20.8  11.7   NaN   67.0    NaN    1
1948-09  1948   9  19.6  10.2   NaN   35.0    NaN    1
1948-10  1948  10  14.9   6.0   NaN   50.0    NaN    1
1948-11  1948  11  10.8   4.6   NaN   44.0    NaN    1
1948-12  1948  12   8.8   3.8   NaN   63.0    NaN    1
1949-01  1949   1   8.5   1.8   9.0   23.0    NaN    1
1949-02  1949   2  10.4   0.6  11.0   27.0    NaN    1
1949-03  1949   3   9.3   1.2  11.0   26.1    NaN    1
1949-04  1949   4  16.2   6.0   1.0   34.2    NaN    1
1949-05  1949   5  17.1   6.8   0.0   56.9    NaN    1
1949-06  1949   6  22.0  10.5   0.0    9.0    NaN    1
1949-07  1949   7  25.1  12.9   0.0   46.5    NaN    1
1949-08  1949   8  23.9  12.5   0.0   26.3    NaN    1
1949-09  1949   9  22.8  13.3   0.0   23.3    NaN    1
1949-10  1949  10  17.0   8.6   3.0  139.6    NaN    1
1949-11  1949  11  10.2   2.9   7.0   53.4    NaN    1
1949-12  1949  12   9.2   2.9   6.0   33.0    NaN    1
1950-01  1950   1   7.1   1.7  11.0   16.8    NaN    1
1950-02  1950   2   9.9   2.4   7.0   82.2    NaN    1
1950-03  1950   3  12.3   3.5   4.0   17.4    NaN    1
1950-04  1950   4  12.9   4.2   1.0   54.8    NaN    1
1950-05  1950   5  17.2   7.6   0.0   41.8    NaN    1
1950-06  1950   6  23.6  12.3   0.0   44.6    NaN    1
...       ...  ..   ...   ...   ...    ...    ...  ...
2016-01  2016   1   9.5   3.0   5.0   74.8   54.8    1
2016-02  2016   2   9.4   2.9   5.0   43.8   86.8    1
2016-03  2016   3  10.7   3.2   3.0   72.8  123.3    1
2016-04  2016   4  13.5   4.9   0.0   47.2  170.0    1
2016-05  2016   5  19.0   9.7   0.0   60.4  192.7    1
2016-06  2016   6  20.7  12.7   0.0   93.4  101.7    1
2016-07  2016   7  24.0  14.5   0.0   16.0  182.8    1
2016-08  2016   8  24.7  14.6   0.0   21.6  201.4    1
2016-09  2016   9  22.4  13.7   0.0   42.2  122.1    1
2016-10  2016  10  15.9   8.7   0.0   21.6  105.6    1
2016-11  2016  11  10.5   3.8   3.0   86.4   77.4    1
2016-12  2016  12  10.2   3.4   7.0   10.4   55.1    1
2017-01  2017   1   7.6   0.7  15.0   60.2   64.5    1
2017-02  2017   2  10.0   4.4   1.0   38.2   47.8    1
2017-03  2017   3  14.1   6.6   0.0   25.8  116.3    1
2017-04  2017   4  15.8   5.9   0.0    4.6  186.2    1
2017-05  2017   5  19.8  10.4   0.0   64.8  164.8    1
2017-06  2017   6  24.0  13.9   0.0   46.4  204.3    1
2017-07  2017   7  23.8  14.9   0.0   90.0  178.0    1
2017-08  2017   8  22.0  13.5   0.0   58.6  174.9    1
2017-09  2017   9  19.2  11.0   0.0   59.0  120.1    1
2017-10  2017  10  17.1  10.3   0.0    9.2   84.6    1
2017-11  2017  11  11.1   4.5   2.0   34.2   66.7    1
2017-12  2017  12   8.7   2.9   7.0   81.2   43.8    1
2018-01  2018   1   9.7   3.8   1.0   58.0   46.5    1
2018-02  2018   2   6.7   0.6  12.0   25.2   92.0    1
2018-03  2018   3   9.8   3.0   6.0   85.0   70.3    1
2018-04  2018   4  15.5   7.8   0.0   65.2  128.5    1
2018-05  2018   5  20.8   9.8   0.0   58.4  248.3    1
2018-06  2018   6  24.2  13.1   0.0    0.4  234.5    1

[846 rows x 8 columns]

In [15]:
x0
x1 = x0.rename(index=str, columns={"yyyy":"year", "mm":"month"})

In [16]:
x2 = pd.to_datetime(x1[['year', 'month', 'day']])
x2.dt.to_period('M')

dt0
1948-01   1948-01
1948-02   1948-02
1948-03   1948-03
1948-04   1948-04
1948-05   1948-05
1948-06   1948-06
1948-07   1948-07
1948-08   1948-08
1948-09   1948-09
1948-10   1948-10
1948-11   1948-11
1948-12   1948-12
1949-01   1949-01
1949-02   1949-02
1949-03   1949-03
1949-04   1949-04
1949-05   1949-05
1949-06   1949-06
1949-07   1949-07
1949-08   1949-08
1949-09   1949-09
1949-10   1949-10
1949-11   1949-11
1949-12   1949-12
1950-01   1950-01
1950-02   1950-02
1950-03   1950-03
1950-04   1950-04
1950-05   1950-05
1950-06   1950-06
            ...
2016-01   2016-01
2016-02   2016-02
2016-03   2016-03
2016-04   2016-04
2016-05   2016-05
2016-06   2016-06
2016-07   2016-07
2016-08   2016-08
2016-09   2016-09
2016-10   2016-10
2016-11   2016-11
2016-12   2016-12
2017-01   2017-01
2017-02   2017-02
2017-03   2017-03
2017-04   2017-04
2017-05   2017-05
2017-06   2017-06
2017-07   2017-07
2017-08   2017-08
2017-09   2017-09
2017-10   2017-10
2017-11   2017-11
2017-12   2017-12
2018-01   2018-01
2018-02   2018-02
2018-03   2018-03
2018-04   2018-04
2018-05   2018-05
2018-06   2018-06
Length: 846, dtype: object

In [17]:
getattr(s0, 'fx_op', 'fail')

'fail'