Demonstrate we can specify a simple interface to load data sources.

In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload

In [2]:
%autoreload 2

from ldr import Schema, Filter

In [3]:
sources = { "fx": [ "tests/media/gbp-usd.csv", Schema(desc = "fx") ], 
           "sales": [ "tests/media/sales.csv", Schema(desc = "sales") ],  
           "weather": [ "tests/media/london.csv", Schema(desc = "weather") ] }

In [4]:
filters = list(map( lambda x: Filter(x[0], x[1]), sources.values()))

In [5]:
def postprocess0(f0):
    f0.series("datetime", index=True)
    return f0.series("value")

In [6]:
series = list(map(lambda x: postprocess0(x), filters))

In [20]:
series[2].index.name

'dt0'

In [15]:
pd.concat(series, axis=1)

            fx  sales  weather
dt0
2013-01-07 NaN    NaN     16.6
2013-01-08 NaN    NaN     25.6
2013-01-09 NaN    NaN     15.7
2013-01-10 NaN    NaN     14.7
2013-01-11 NaN    NaN     12.7
2013-01-12 NaN    NaN      5.8
2013-02-07 NaN    NaN     14.4
2013-02-08 NaN    NaN     20.5
2013-02-09 NaN    NaN     18.9
2013-02-10 NaN    NaN     16.7
2013-02-11 NaN    NaN     11.9
2013-02-12 NaN    NaN      7.8
2013-03-07 NaN    NaN     17.0
2013-03-08 NaN    NaN     19.2
2013-03-09 NaN    NaN     19.5
2013-03-10 NaN    NaN     16.4
2013-03-11 NaN    NaN      9.3
2013-03-12 NaN    NaN      5.9
2013-04-07 NaN    NaN     18.3
2013-04-08 NaN    NaN     19.0
2013-04-09 NaN    NaN     21.0
2013-04-10 NaN    NaN     17.9
2013-04-11 NaN    NaN      7.7
2013-04-12 NaN    NaN      5.7
2013-05-07 NaN    NaN     19.1
2013-05-08 NaN    NaN     18.7
2013-05-09 NaN    NaN     21.8
2013-05-10 NaN    NaN     15.6
2013-05-11 NaN    NaN      8.9
2013-05-12 NaN    NaN      5.4
...         ..    ...      ...
2018-08-06 NaN    NaN     17.7
2018-08-07 NaN    NaN     23.5
2018-09-01 NaN    NaN      5.3
2018-09-02 NaN    NaN      4.9
2018-09-03 NaN    NaN      6.4
2018-09-04 NaN    NaN      8.9
2018-09-05 NaN    NaN     13.9
2018-09-06 NaN    NaN     16.8
2018-09-07 NaN    NaN     23.1
2018-10-01 NaN    NaN      7.6
2018-10-02 NaN    NaN      4.2
2018-10-03 NaN    NaN     10.8
2018-10-04 NaN    NaN     10.7
2018-10-05 NaN    NaN     12.8
2018-10-06 NaN    NaN     18.2
2018-10-07 NaN    NaN     18.7
2018-11-01 NaN    NaN      6.1
2018-11-02 NaN    NaN      5.1
2018-11-03 NaN    NaN      8.8
2018-11-04 NaN    NaN      9.2
2018-11-05 NaN    NaN     13.2
2018-11-06 NaN    NaN     18.4
2018-11-07 NaN    NaN     18.6
2018-12-01 NaN    NaN      6.7
2018-12-02 NaN    NaN      2.9
2018-12-03 NaN    NaN      8.8
2018-12-04 NaN    NaN      8.1
2018-12-05 NaN    NaN     11.8
2018-12-06 NaN    NaN     15.3
2018-12-07 NaN    NaN     19.2

[1933 rows x 3 columns]