Demonstrate we can specify a simple interface to load data sources.

In [42]:
import numpy as np
import pandas as pd

%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
%autoreload 2

from ldr import Schema, Filter, Selector
from ingresso import Sales0

In [44]:
sources = { "fx": [ "tests/media/gbp-usd.csv", Schema(desc = "fx") ], 
           "fx2": [ "tests/media/usd-gbp.csv", Schema(desc = "fx-datahub") ], 
           "sales": [ "tests/media/sales.csv", Schema(desc = "sales") ],  
           "weather": [ "tests/media/london.csv", Schema(desc = "weather") ],
           "weather2": [ "tests/media/metoffice.csv", Schema(desc = "weather-metoffice") ] }

In [45]:
filters = list(map( lambda x: Filter(x[0], x[1]), sources.values()))

In [46]:
def postprocess0(f0):
    f0.series("datetime", index=True)
    return f0.series("value")

In [47]:
series = list(map(lambda x: postprocess0(x), filters))

Finally, merge the series together, we pass the monthly Met-office series separately.

In [48]:
s0s = list(filter(lambda x: x.name != "weather-metoffice", series))
s1 = list(filter(lambda x: x.name == "weather-metoffice", series))
df = pd.DataFrame(s0s).transpose()
s0 = Sales0(df, metoffice=s1)
print(s0)

'Sales0: fx, fx-datahub, sales, weather'

In [49]:
s0.constrain()
print(s0._cdf.describe())
s0._cdf.head()

               fx   fx-datahub        sales      weather
count  788.000000  1122.000000  1864.000000  1773.000000
mean     1.366371     1.473153  1115.015558    12.029724
std      0.098996     0.148440   927.505853     5.406125
min      1.204800     1.211827     0.000000    -4.100000
25%      1.292975     1.316569   310.000000     7.900000
50%      1.338350     1.512745   852.500000    11.900000
75%      1.437975     1.594070  1805.250000    16.300000
max      1.577600     1.716444  4864.000000    27.900000

            fx  fx-datahub  sales  weather
dt0
2013-06-11 NaN    1.558603    0.0     12.3
2013-06-12 NaN    1.569612    3.0      5.8
2013-06-13 NaN    1.569859   12.0      NaN
2013-06-14 NaN    1.568627   17.0      NaN
2013-06-15 NaN         NaN   14.0      NaN

In [ ]:
x0 = s0._df['sales']
x1 = x0[x0.notna()].index[0]

x0=s0._cdf['sales']
x0[x0.notna()].index[-1]

In [ ]:
s0.weather()
s0.weather

In [ ]:
s0._df['sales'].resample("M").mean()

In [ ]:
s0._df['fx'].resample("M").mean()

In [36]:
fw = list(filter(lambda x: x._schema.desc == "weather-metoffice", filters))[0]
x0 = fw._data
x0['day'] = 1
fw._data

     yyyy  mm  tmax  tmin    af   rain    sun  day
0    1948   1   8.9   3.3   NaN   85.0    NaN    1
1    1948   2   7.9   2.2   NaN   26.0    NaN    1
2    1948   3  14.2   3.8   NaN   14.0    NaN    1
3    1948   4  15.4   5.1   NaN   35.0    NaN    1
4    1948   5  18.1   6.9   NaN   57.0    NaN    1
5    1948   6  19.1  10.3   NaN   67.0    NaN    1
6    1948   7  21.7  12.0   NaN   21.0    NaN    1
7    1948   8  20.8  11.7   NaN   67.0    NaN    1
8    1948   9  19.6  10.2   NaN   35.0    NaN    1
9    1948  10  14.9   6.0   NaN   50.0    NaN    1
10   1948  11  10.8   4.6   NaN   44.0    NaN    1
11   1948  12   8.8   3.8   NaN   63.0    NaN    1
12   1949   1   8.5   1.8   9.0   23.0    NaN    1
13   1949   2  10.4   0.6  11.0   27.0    NaN    1
14   1949   3   9.3   1.2  11.0   26.1    NaN    1
15   1949   4  16.2   6.0   1.0   34.2    NaN    1
16   1949   5  17.1   6.8   0.0   56.9    NaN    1
17   1949   6  22.0  10.5   0.0    9.0    NaN    1
18   1949   7  25.1  12.9   0.0   46.5    NaN    1
19   1949   8  23.9  12.5   0.0   26.3    NaN    1
20   1949   9  22.8  13.3   0.0   23.3    NaN    1
21   1949  10  17.0   8.6   3.0  139.6    NaN    1
22   1949  11  10.2   2.9   7.0   53.4    NaN    1
23   1949  12   9.2   2.9   6.0   33.0    NaN    1
24   1950   1   7.1   1.7  11.0   16.8    NaN    1
25   1950   2   9.9   2.4   7.0   82.2    NaN    1
26   1950   3  12.3   3.5   4.0   17.4    NaN    1
27   1950   4  12.9   4.2   1.0   54.8    NaN    1
28   1950   5  17.2   7.6   0.0   41.8    NaN    1
29   1950   6  23.6  12.3   0.0   44.6    NaN    1
..    ...  ..   ...   ...   ...    ...    ...  ...
816  2016   1   9.5   3.0   5.0   74.8   54.8    1
817  2016   2   9.4   2.9   5.0   43.8   86.8    1
818  2016   3  10.7   3.2   3.0   72.8  123.3    1
819  2016   4  13.5   4.9   0.0   47.2  170.0    1
820  2016   5  19.0   9.7   0.0   60.4  192.7    1
821  2016   6  20.7  12.7   0.0   93.4  101.7    1
822  2016   7  24.0  14.5   0.0   16.0  182.8    1
823  2016   8  24.7  14.6   0.0   21.6  201.4    1
824  2016   9  22.4  13.7   0.0   42.2  122.1    1
825  2016  10  15.9   8.7   0.0   21.6  105.6    1
826  2016  11  10.5   3.8   3.0   86.4   77.4    1
827  2016  12  10.2   3.4   7.0   10.4   55.1    1
828  2017   1   7.6   0.7  15.0   60.2   64.5    1
829  2017   2  10.0   4.4   1.0   38.2   47.8    1
830  2017   3  14.1   6.6   0.0   25.8  116.3    1
831  2017   4  15.8   5.9   0.0    4.6  186.2    1
832  2017   5  19.8  10.4   0.0   64.8  164.8    1
833  2017   6  24.0  13.9   0.0   46.4  204.3    1
834  2017   7  23.8  14.9   0.0   90.0  178.0    1
835  2017   8  22.0  13.5   0.0   58.6  174.9    1
836  2017   9  19.2  11.0   0.0   59.0  120.1    1
837  2017  10  17.1  10.3   0.0    9.2   84.6    1
838  2017  11  11.1   4.5   2.0   34.2   66.7    1
839  2017  12   8.7   2.9   7.0   81.2   43.8    1
840  2018   1   9.7   3.8   1.0   58.0   46.5    1
841  2018   2   6.7   0.6  12.0   25.2   92.0    1
842  2018   3   9.8   3.0   6.0   85.0   70.3    1
843  2018   4  15.5   7.8   0.0   65.2  128.5    1
844  2018   5  20.8   9.8   0.0   58.4  248.3    1
845  2018   6  24.2  13.1   0.0    0.4  234.5    1

[846 rows x 8 columns]

In [25]:
x0
x1 = x0.rename(index=str, columns={"yyyy":"year", "mm":"month"})

In [34]:
x2 = pd.to_datetime(x1[['year', 'month', 'day']])
x2.dt.to_period('M')

0     1948-01
1     1948-02
2     1948-03
3     1948-04
4     1948-05
5     1948-06
6     1948-07
7     1948-08
8     1948-09
9     1948-10
10    1948-11
11    1948-12
12    1949-01
13    1949-02
14    1949-03
15    1949-04
16    1949-05
17    1949-06
18    1949-07
19    1949-08
20    1949-09
21    1949-10
22    1949-11
23    1949-12
24    1950-01
25    1950-02
26    1950-03
27    1950-04
28    1950-05
29    1950-06
        ...
816   2016-01
817   2016-02
818   2016-03
819   2016-04
820   2016-05
821   2016-06
822   2016-07
823   2016-08
824   2016-09
825   2016-10
826   2016-11
827   2016-12
828   2017-01
829   2017-02
830   2017-03
831   2017-04
832   2017-05
833   2017-06
834   2017-07
835   2017-08
836   2017-09
837   2017-10
838   2017-11
839   2017-12
840   2018-01
841   2018-02
842   2018-03
843   2018-04
844   2018-05
845   2018-06
Length: 846, dtype: object

In [37]:
"x" != "x"

False