In [1]:
import numpy as np
import pandas as pd

%load_ext autoreload

In [2]:
%autoreload 2

from ldr import Schema, Filter

fx1="tests/media/gbp-usd.csv"

In [3]:
schema = Schema(desc = "fx")
filter0 = Filter(fx1, schema)

In [4]:
print(schema.desc)

fx

In [5]:
print(schema._months)

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [6]:
schema._months.index("Jun")

5

In [28]:
fx0=pd.read_csv(fx1)

In [29]:
type(fx0.Month)

pandas.core.series.Series

In [9]:
fx0.Month.dtype.kind == 'O'

True

In [30]:
fx0['Month'] = pd.Series(map( lambda x: 1 + schema._months.index(x), fx0.Month))
fx0[['Year', 'Month', 'Day']]

     Year  Month  Day
0    2018      7    1
1    2018      6   29
2    2018      6   28
3    2018      6   27
4    2018      6   26
5    2018      6   25
6    2018      6   24
7    2018      6   22
8    2018      6   21
9    2018      6   20
10   2018      6   19
11   2018      6   18
12   2018      6   17
13   2018      6   15
14   2018      6   14
15   2018      6   13
16   2018      6   12
17   2018      6   11
18   2018      6   10
19   2018      6    8
20   2018      6    7
21   2018      6    6
22   2018      6    5
23   2018      6    4
24   2018      6    3
25   2018      6    1
26   2018      5   31
27   2018      5   30
28   2018      5   29
29   2018      5   28
..    ...    ...  ...
758  2015      8   11
759  2015      8   10
760  2015      8    7
761  2015      8    6
762  2015      8    5
763  2015      8    4
764  2015      8    3
765  2015      7   31
766  2015      7   30
767  2015      7   29
768  2015      7   28
769  2015      7   27
770  2015      7   24
771  2015      7   23
772  2015      7   22
773  2015      7   21
774  2015      7   20
775  2015      7   17
776  2015      7   16
777  2015      7   15
778  2015      7   14
779  2015      7   13
780  2015      7   10
781  2015      7    9
782  2015      7    8
783  2015      7    7
784  2015      7    6
785  2015      7    3
786  2015      7    2
787  2015      7    1

[788 rows x 3 columns]

In [11]:
pd.to_datetime(fx0[['Year', 'Month', 'Day']])

0     2018-07-01
1     2018-06-29
2     2018-06-28
3     2018-06-27
4     2018-06-26
5     2018-06-25
6     2018-06-24
7     2018-06-22
8     2018-06-21
9     2018-06-20
10    2018-06-19
11    2018-06-18
12    2018-06-17
13    2018-06-15
14    2018-06-14
15    2018-06-13
16    2018-06-12
17    2018-06-11
18    2018-06-10
19    2018-06-08
20    2018-06-07
21    2018-06-06
22    2018-06-05
23    2018-06-04
24    2018-06-03
25    2018-06-01
26    2018-05-31
27    2018-05-30
28    2018-05-29
29    2018-05-28
         ...
758   2015-08-11
759   2015-08-10
760   2015-08-07
761   2015-08-06
762   2015-08-05
763   2015-08-04
764   2015-08-03
765   2015-07-31
766   2015-07-30
767   2015-07-29
768   2015-07-28
769   2015-07-27
770   2015-07-24
771   2015-07-23
772   2015-07-22
773   2015-07-21
774   2015-07-20
775   2015-07-17
776   2015-07-16
777   2015-07-15
778   2015-07-14
779   2015-07-13
780   2015-07-10
781   2015-07-09
782   2015-07-08
783   2015-07-07
784   2015-07-06
785   2015-07-03
786   2015-07-02
787   2015-07-01
Length: 788, dtype: datetime64[ns]

In [32]:
filter0._data['dt0'] = filter0.series("datetime")
filter0._data.dtypes

Month              int64
Day                int64
Year               int64
Price            float64
Open             float64
High             float64
Low              float64
Change           float64
dt0       datetime64[ns]
dtype: object