In [112]:
import numpy as np
import pandas as pd

%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [143]:
%autoreload 2

from ldr import Schema, Filter

fx1="tests/media/gbp-usd.csv"
sales1="tests/media/sales.csv"
wthr1="tests/media/london.csv"
fx1a="tests/media/gbp-usd2.csv"

In [145]:
fx2 = Schema(desc = "fx-fxcm")
filter0 = Filter(fx1a, fx2)

In [150]:
x0 = None
print(type(x0))
print(filter0._data.empty)

<class 'NoneType'>
False

In [155]:
x0 = filter0._data
x0 = None
print(type(x0))
if type(x0) == t:
    print("none")

<class 'NoneType'>

In [156]:
type(None)

NoneType

In [116]:
print(fx2._months)

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [117]:
fx2._months.index("Jun")

5

In [118]:
fx0=pd.read_csv(fx1)

In [119]:
type(fx0.Month)

pandas.core.series.Series

In [120]:
fx0.Month.dtype.kind == 'O'

True

In [121]:
fx0['Month'] = pd.Series(map( lambda x: 1 + fx2._months.index(x), fx0.Month))
fx0[['Year', 'Month', 'Day']]

     Year  Month  Day
0    2018      7    1
1    2018      6   29
2    2018      6   28
3    2018      6   27
4    2018      6   26
5    2018      6   25
6    2018      6   24
7    2018      6   22
8    2018      6   21
9    2018      6   20
10   2018      6   19
11   2018      6   18
12   2018      6   17
13   2018      6   15
14   2018      6   14
15   2018      6   13
16   2018      6   12
17   2018      6   11
18   2018      6   10
19   2018      6    8
20   2018      6    7
21   2018      6    6
22   2018      6    5
23   2018      6    4
24   2018      6    3
25   2018      6    1
26   2018      5   31
27   2018      5   30
28   2018      5   29
29   2018      5   28
..    ...    ...  ...
758  2015      8   11
759  2015      8   10
760  2015      8    7
761  2015      8    6
762  2015      8    5
763  2015      8    4
764  2015      8    3
765  2015      7   31
766  2015      7   30
767  2015      7   29
768  2015      7   28
769  2015      7   27
770  2015      7   24
771  2015      7   23
772  2015      7   22
773  2015      7   21
774  2015      7   20
775  2015      7   17
776  2015      7   16
777  2015      7   15
778  2015      7   14
779  2015      7   13
780  2015      7   10
781  2015      7    9
782  2015      7    8
783  2015      7    7
784  2015      7    6
785  2015      7    3
786  2015      7    2
787  2015      7    1

[788 rows x 3 columns]

In [122]:
pd.to_datetime(fx0[['Year', 'Month', 'Day']])

0     2018-07-01
1     2018-06-29
2     2018-06-28
3     2018-06-27
4     2018-06-26
5     2018-06-25
6     2018-06-24
7     2018-06-22
8     2018-06-21
9     2018-06-20
10    2018-06-19
11    2018-06-18
12    2018-06-17
13    2018-06-15
14    2018-06-14
15    2018-06-13
16    2018-06-12
17    2018-06-11
18    2018-06-10
19    2018-06-08
20    2018-06-07
21    2018-06-06
22    2018-06-05
23    2018-06-04
24    2018-06-03
25    2018-06-01
26    2018-05-31
27    2018-05-30
28    2018-05-29
29    2018-05-28
         ...
758   2015-08-11
759   2015-08-10
760   2015-08-07
761   2015-08-06
762   2015-08-05
763   2015-08-04
764   2015-08-03
765   2015-07-31
766   2015-07-30
767   2015-07-29
768   2015-07-28
769   2015-07-27
770   2015-07-24
771   2015-07-23
772   2015-07-22
773   2015-07-21
774   2015-07-20
775   2015-07-17
776   2015-07-16
777   2015-07-15
778   2015-07-14
779   2015-07-13
780   2015-07-10
781   2015-07-09
782   2015-07-08
783   2015-07-07
784   2015-07-06
785   2015-07-03
786   2015-07-02
787   2015-07-01
Length: 788, dtype: datetime64[ns]

In [123]:
filter0._data['dt0'] = filter0.series("datetime")
filter0._data.dtypes

Month              int64
Day                int64
Year               int64
Price            float64
Open             float64
High             float64
Low              float64
Change           float64
dt0       datetime64[ns]
dtype: object

In [124]:
filter0.series("datetime", index=True)
filter0._data.dtypes

Month              int64
Day                int64
Year               int64
Price            float64
Open             float64
High             float64
Low              float64
Change           float64
dt0       datetime64[ns]
dtype: object

In [125]:
filter0._data.head()

,Month,Day,Year,Price,Open,High,Low,Change,dt0
2018-07-01,7,1,2018,1.3209,1.3186,1.3209,1.3186,0.00,2018-07-01
2018-06-29,6,29,2018,1.3209,1.3077,1.3215,1.3068,1.00,2018-06-29
2018-06-28,6,28,2018,1.3078,1.3114,1.3123,1.3050,-0.27,2018-06-28
2018-06-27,6,27,2018,1.3113,1.3229,1.3245,1.3107,-0.87,2018-06-27
2018-06-26,6,26,2018,1.3228,1.3284,1.3294,1.3192,-0.37,2018-06-26

In [132]:
r0=filter0.series("value")
r0.resample("M").mean()

2015-07-31    1.555991
2015-08-31    1.557929
2015-09-30    1.533273
2015-10-31    1.533168
2015-11-30    1.519305
2015-12-31    1.498091
2016-01-31    1.440424
2016-02-29    1.431329
2016-03-31    1.425387
2016-04-30    1.431343
2016-05-31    1.452391
2016-06-30    1.421055
2016-07-31    1.314776
2016-08-31    1.310461
2016-09-30    1.314859
2016-10-31    1.233462
2016-11-30    1.244145
2016-12-31    1.247350
2017-01-31    1.235336
2017-02-28    1.248875
2017-03-31    1.234743
2017-04-30    1.264385
2017-05-31    1.292213
2017-06-30    1.281214
2017-07-31    1.299890
2017-08-31    1.295700
2017-09-30    1.331552
2017-10-31    1.320150
2017-11-30    1.323077
2017-12-31    1.340343
2018-01-31    1.381435
2018-02-28    1.396380
2018-03-31    1.397627
2018-04-30    1.407024
2018-05-31    1.346022
2018-06-30    1.329212
2018-07-31    1.320900
Freq: M, Name: Price, dtype: float64

This is all that is needed for the FX data

In [83]:
sales = Schema(desc = "sales")
filter1 = Filter(sales1, sales)

In [80]:
filter1._data.dtypes

Date            object
Tickets Sold     int64
dtype: object

In [84]:
pd.to_datetime(filter1._data.Date)

0      2018-07-18
1      2018-07-17
2      2018-07-16
3      2018-07-15
4      2018-07-14
5      2018-07-13
6      2018-07-12
7      2018-07-11
8      2018-07-10
9      2018-07-09
10     2018-07-08
11     2018-07-07
12     2018-07-06
13     2018-07-05
14     2018-07-04
15     2018-07-03
16     2018-07-02
17     2018-07-01
18     2018-06-30
19     2018-06-29
20     2018-06-28
21     2018-06-27
22     2018-06-26
23     2018-06-25
24     2018-06-24
25     2018-06-23
26     2018-06-22
27     2018-06-21
28     2018-06-20
29     2018-06-19
          ...
1834   2013-07-10
1835   2013-07-09
1836   2013-07-08
1837   2013-07-07
1838   2013-07-06
1839   2013-07-05
1840   2013-07-04
1841   2013-07-03
1842   2013-07-02
1843   2013-07-01
1844   2013-06-30
1845   2013-06-29
1846   2013-06-28
1847   2013-06-27
1848   2013-06-26
1849   2013-06-25
1850   2013-06-24
1851   2013-06-23
1852   2013-06-22
1853   2013-06-21
1854   2013-06-20
1855   2013-06-19
1856   2013-06-18
1857   2013-06-17
1858   2013-06-16
1859   2013-06-15
1860   2013-06-14
1861   2013-06-13
1862   2013-06-12
1863   2013-06-11
Name: Date, Length: 1864, dtype: datetime64[ns]

In [85]:
filter1.series("datetime", index=True)
filter1._data.dtypes

Date            object
Tickets Sold     int64
dtype: object

In [86]:
filter1._data.head()

                  Date  Tickets Sold
Date
2018-07-18  2018-07-18          1587
2018-07-17  2018-07-17          1576
2018-07-16  2018-07-16          1665
2018-07-15  2018-07-15          1639
2018-07-14  2018-07-14          1391

In [94]:
weather = Schema(desc = "weather")
filter2 = Filter(wthr1, weather)

In [89]:
filter2._data.head()

       STATION         NAME        DATE  PRCP  TAVG  TMAX  TMIN
0  UKM00003772  HEATHROW UK  01/07/2013   0.0  16.6  21.3   NaN
1  UKM00003772  HEATHROW UK  02/07/2013   0.0  14.4  17.9   NaN
2  UKM00003772  HEATHROW UK  03/07/2013   1.3  17.0  21.5   NaN
3  UKM00003772  HEATHROW UK  04/07/2013   0.0  18.3  24.9   NaN
4  UKM00003772  HEATHROW UK  05/07/2013   0.0  19.1  26.3   NaN

In [95]:
filter2.series("datetime", index=True)

0      2013-01-07
1      2013-02-07
2      2013-03-07
3      2013-04-07
4      2013-05-07
5      2013-06-07
6      2013-07-07
7      2013-08-07
8      2013-09-07
9      2013-10-07
10     2013-11-07
11     2013-12-07
12     2013-07-13
13     2013-07-14
14     2013-07-15
15     2013-07-16
16     2013-07-17
17     2013-07-18
18     2013-07-19
19     2013-07-20
20     2013-07-21
21     2013-07-22
22     2013-07-23
23     2013-07-24
24     2013-07-25
25     2013-07-26
26     2013-07-27
27     2013-07-28
28     2013-07-29
29     2013-07-30
          ...
1812   2018-06-19
1813   2018-06-20
1814   2018-06-21
1815   2018-06-22
1816   2018-06-23
1817   2018-06-24
1818   2018-06-25
1819   2018-06-26
1820   2018-06-27
1821   2018-06-28
1822   2018-06-29
1823   2018-06-30
1824   2018-01-07
1825   2018-02-07
1826   2018-03-07
1827   2018-04-07
1828   2018-05-07
1829   2018-06-07
1830   2018-07-07
1831   2018-08-07
1832   2018-09-07
1833   2018-10-07
1834   2018-11-07
1835   2018-12-07
1836   2018-07-13
1837   2018-07-14
1838   2018-07-15
1839   2018-07-16
1840   2018-07-17
1841   2018-07-18
Name: DATE, Length: 1842, dtype: datetime64[ns]

In [96]:
filter2._data.head()

                STATION         NAME        DATE  PRCP  TAVG  TMAX  TMIN
DATE
2013-01-07  UKM00003772  HEATHROW UK  01/07/2013   0.0  16.6  21.3   NaN
2013-02-07  UKM00003772  HEATHROW UK  02/07/2013   0.0  14.4  17.9   NaN
2013-03-07  UKM00003772  HEATHROW UK  03/07/2013   1.3  17.0  21.5   NaN
2013-04-07  UKM00003772  HEATHROW UK  04/07/2013   0.0  18.3  24.9   NaN
2013-05-07  UKM00003772  HEATHROW UK  05/07/2013   0.0  19.1  26.3   NaN

In [55]:
pd.to_datetime(filter2._data['DATE'])

0      2013-01-07
1      2013-02-07
2      2013-03-07
3      2013-04-07
4      2013-05-07
5      2013-06-07
6      2013-07-07
7      2013-08-07
8      2013-09-07
9      2013-10-07
10     2013-11-07
11     2013-12-07
12     2013-07-13
13     2013-07-14
14     2013-07-15
15     2013-07-16
16     2013-07-17
17     2013-07-18
18     2013-07-19
19     2013-07-20
20     2013-07-21
21     2013-07-22
22     2013-07-23
23     2013-07-24
24     2013-07-25
25     2013-07-26
26     2013-07-27
27     2013-07-28
28     2013-07-29
29     2013-07-30
          ...
1812   2018-06-19
1813   2018-06-20
1814   2018-06-21
1815   2018-06-22
1816   2018-06-23
1817   2018-06-24
1818   2018-06-25
1819   2018-06-26
1820   2018-06-27
1821   2018-06-28
1822   2018-06-29
1823   2018-06-30
1824   2018-01-07
1825   2018-02-07
1826   2018-03-07
1827   2018-04-07
1828   2018-05-07
1829   2018-06-07
1830   2018-07-07
1831   2018-08-07
1832   2018-09-07
1833   2018-10-07
1834   2018-11-07
1835   2018-12-07
1836   2018-07-13
1837   2018-07-14
1838   2018-07-15
1839   2018-07-16
1840   2018-07-17
1841   2018-07-18
Name: DATE, Length: 1842, dtype: datetime64[ns]

In [59]:
fruit = {"apple" : 5, "pear" : 3, "banana" : 4, "pineapple" : 1, "cherry" : 20}

In [60]:
list(filter(lambda x: x == "apple", fruit))

['apple']

In [61]:
"apple1" in fruit

False

In [135]:
temp0 = filter2._data['TAVG']
type(temp0)

pandas.core.series.Series

In [110]:
temp0.resample("M").count()

DATE
2013-01-31     6
2013-02-28     6
2013-03-31     6
2013-04-30     6
2013-05-31     6
2013-06-30     6
2013-07-31    25
2013-08-31    25
2013-09-30    24
2013-10-31    25
2013-11-30    24
2013-12-31    25
2014-01-31    31
2014-02-28    28
2014-03-31    31
2014-04-30    30
2014-05-31    31
2014-06-30    30
2014-07-31    31
2014-08-31    31
2014-09-30    30
2014-10-31    31
2014-11-30    30
2014-12-31    31
2015-01-31    31
2015-02-28    28
2015-03-31    31
2015-04-30    30
2015-05-31    31
2015-06-30    30
              ..
2016-07-31    31
2016-08-31    31
2016-09-30    30
2016-10-31    31
2016-11-30    29
2016-12-31    31
2017-01-31    30
2017-02-28    28
2017-03-31    31
2017-04-30    30
2017-05-31    31
2017-06-30    30
2017-07-31    31
2017-08-31    31
2017-09-30    30
2017-10-31    31
2017-11-30    30
2017-12-31    31
2018-01-31    26
2018-02-28    23
2018-03-31    26
2018-04-30    25
2018-05-31    26
2018-06-30    25
2018-07-31    13
2018-08-31     7
2018-09-30     7
2018-10-31     7
2018-11-30     7
2018-12-31     7
Freq: M, Name: TAVG, Length: 72, dtype: int64

In [140]:
l0 = [ 1, 2,3 ]
len(l0)

3