In [65]:
import numpy as np
import pandas as pd

%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
%autoreload 2

from ldr import Schema, Filter

fx1="tests/media/gbp-usd.csv"
sales1="tests/media/sales.csv"
wthr1="tests/media/london.csv"

In [67]:
fx2 = Schema(desc = "fx")
filter0 = Filter(fx1, fx2)

In [68]:
print(fx2.desc)

fx

In [69]:
print(fx2._months)

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [70]:
fx2._months.index("Jun")

5

In [71]:
fx0=pd.read_csv(fx1)

In [72]:
type(fx0.Month)

pandas.core.series.Series

In [73]:
fx0.Month.dtype.kind == 'O'

True

In [74]:
fx0['Month'] = pd.Series(map( lambda x: 1 + fx2._months.index(x), fx0.Month))
fx0[['Year', 'Month', 'Day']]

     Year  Month  Day
0    2018      7    1
1    2018      6   29
2    2018      6   28
3    2018      6   27
4    2018      6   26
5    2018      6   25
6    2018      6   24
7    2018      6   22
8    2018      6   21
9    2018      6   20
10   2018      6   19
11   2018      6   18
12   2018      6   17
13   2018      6   15
14   2018      6   14
15   2018      6   13
16   2018      6   12
17   2018      6   11
18   2018      6   10
19   2018      6    8
20   2018      6    7
21   2018      6    6
22   2018      6    5
23   2018      6    4
24   2018      6    3
25   2018      6    1
26   2018      5   31
27   2018      5   30
28   2018      5   29
29   2018      5   28
..    ...    ...  ...
758  2015      8   11
759  2015      8   10
760  2015      8    7
761  2015      8    6
762  2015      8    5
763  2015      8    4
764  2015      8    3
765  2015      7   31
766  2015      7   30
767  2015      7   29
768  2015      7   28
769  2015      7   27
770  2015      7   24
771  2015      7   23
772  2015      7   22
773  2015      7   21
774  2015      7   20
775  2015      7   17
776  2015      7   16
777  2015      7   15
778  2015      7   14
779  2015      7   13
780  2015      7   10
781  2015      7    9
782  2015      7    8
783  2015      7    7
784  2015      7    6
785  2015      7    3
786  2015      7    2
787  2015      7    1

[788 rows x 3 columns]

In [75]:
pd.to_datetime(fx0[['Year', 'Month', 'Day']])

0     2018-07-01
1     2018-06-29
2     2018-06-28
3     2018-06-27
4     2018-06-26
5     2018-06-25
6     2018-06-24
7     2018-06-22
8     2018-06-21
9     2018-06-20
10    2018-06-19
11    2018-06-18
12    2018-06-17
13    2018-06-15
14    2018-06-14
15    2018-06-13
16    2018-06-12
17    2018-06-11
18    2018-06-10
19    2018-06-08
20    2018-06-07
21    2018-06-06
22    2018-06-05
23    2018-06-04
24    2018-06-03
25    2018-06-01
26    2018-05-31
27    2018-05-30
28    2018-05-29
29    2018-05-28
         ...
758   2015-08-11
759   2015-08-10
760   2015-08-07
761   2015-08-06
762   2015-08-05
763   2015-08-04
764   2015-08-03
765   2015-07-31
766   2015-07-30
767   2015-07-29
768   2015-07-28
769   2015-07-27
770   2015-07-24
771   2015-07-23
772   2015-07-22
773   2015-07-21
774   2015-07-20
775   2015-07-17
776   2015-07-16
777   2015-07-15
778   2015-07-14
779   2015-07-13
780   2015-07-10
781   2015-07-09
782   2015-07-08
783   2015-07-07
784   2015-07-06
785   2015-07-03
786   2015-07-02
787   2015-07-01
Length: 788, dtype: datetime64[ns]

In [76]:
filter0._data['dt0'] = filter0.series("datetime")
filter0._data.dtypes

Month              int64
Day                int64
Year               int64
Price            float64
Open             float64
High             float64
Low              float64
Change           float64
dt0       datetime64[ns]
dtype: object

In [77]:
filter0.series("datetime", index=True)
filter0._data.dtypes

Month              int64
Day                int64
Year               int64
Price            float64
Open             float64
High             float64
Low              float64
Change           float64
dt0       datetime64[ns]
dtype: object

In [78]:
filter0._data

,Month,Day,Year,Price,Open,High,Low,Change,dt0
2018-07-01,7,1,2018,1.3209,1.3186,1.3209,1.3186,0.00,2018-07-01
2018-06-29,6,29,2018,1.3209,1.3077,1.3215,1.3068,1.00,2018-06-29
2018-06-28,6,28,2018,1.3078,1.3114,1.3123,1.3050,-0.27,2018-06-28
2018-06-27,6,27,2018,1.3113,1.3229,1.3245,1.3107,-0.87,2018-06-27
2018-06-26,6,26,2018,1.3228,1.3284,1.3294,1.3192,-0.37,2018-06-26
2018-06-25,6,25,2018,1.3277,1.3276,1.3292,1.3222,0.11,2018-06-25
2018-06-24,6,24,2018,1.3262,1.3255,1.3272,1.3255,-0.06,2018-06-24
2018-06-22,6,22,2018,1.3270,1.3252,1.3316,1.3236,0.14,2018-06-22
2018-06-21,6,21,2018,1.3252,1.3176,1.3271,1.3101,0.60,2018-06-21
2018-06-20,6,20,2018,1.3173,1.3174,1.3217,1.3148,-0.05,2018-06-20
2018-06-19,6,19,2018,1.3180,1.3244,1.3275,1.3150,-0.48,2018-06-19
2018-06-18,6,18,2018,1.3244,1.3262,1.3287,1.3225,-0.24,2018-06-18
2018-06-17,6,17,2018,1.3276,1.3266,1.3282,1.3266,-0.07,2018-06-17
2018-06-15,6,15,2018,1.3285,1.3262,1.3299,1.3212,0.17,2018-06-15
2018-06-14,6,14,2018,1.3262,1.3375,1.3447,1.3256,-0.85,2018-06-14
2018-06-13,6,13,2018,1.3376,1.3373,1.3392,1.3308,0.03,2018-06-13
2018-06-12,6,12,2018,1.3372,1.3382,1.3426,1.3342,-0.02,2018-06-12
2018-06-11,6,11,2018,1.3375,1.3404,1.3443,1.3345,-0.28,2018-06-11
2018-06-10,6,10,2018,1.3413,1.3405,1.3416,1.3405,0.01,2018-06-10
2018-06-08,6,8,2018,1.3412,1.3421,1.3439,1.3354,-0.07,2018-06-08
2018-06-07,6,7,2018,1.3422,1.3413,1.3474,1.3374,0.07,2018-06-07
2018-06-06,6,6,2018,1.3413,1.3396,1.3445,1.3383,0.12,2018-06-06
2018-06-05,6,5,2018,1.3397,1.3314,1.3412,1.3302,0.63,2018-06-05
2018-06-04,6,4,2018,1.3313,1.3337,1.3400,1.3294,-0.30,2018-06-04
2018-06-03,6,3,2018,1.3353,1.3344,1.3357,1.3339,0.04,2018-06-03
2018-06-01,6,1,2018,1.3348,1.3299,1.3363,1.3252,0.36,2018-06-01
2018-05-31,5,31,2018,1.3300,1.3290,1.3350,1.3277,0.06,2018-05-31
2018-05-30,5,30,2018,1.3292,1.3251,1.3310,1.3242,0.29,2018-05-30
2018-05-29,5,29,2018,1.3254,1.3312,1.3328,1.3205,-0.45,2018-05-29
2018-05-28,5,28,2018,1.3314,1.3308,1.3342,1.3296,0.04,2018-05-28
...,...,...,...,...,...,...,...,...,...
2015-08-11,8,11,2015,1.5573,1.5587,1.5613,1.5553,-0.09,2015-08-11
2015-08-10,8,10,2015,1.5587,1.5491,1.5605,1.5456,0.58,2015-08-10
2015-08-07,8,7,2015,1.5497,1.5509,1.5545,1.5423,-0.10,2015-08-07
2015-08-06,8,6,2015,1.5512,1.5602,1.5638,1.5468,-0.58,2015-08-06
2015-08-05,8,5,2015,1.5602,1.5564,1.5652,1.5526,0.24,2015-08-05
2015-08-04,8,4,2015,1.5564,1.5589,1.5636,1.5557,-0.15,2015-08-04
2015-08-03,8,3,2015,1.5587,1.5627,1.5648,1.5566,-0.24,2015-08-03
2015-07-31,7,31,2015,1.5624,1.5602,1.5679,1.5549,0.14,2015-07-31
2015-07-30,7,30,2015,1.5602,1.5598,1.5640,1.5562,-0.01,2015-07-30
2015-07-29,7,29,2015,1.5604,1.5614,1.5692,1.5589,-0.04,2015-07-29
2015-07-28,7,28,2015,1.5611,1.5558,1.5629,1.5528,0.34,2015-07-28
2015-07-27,7,27,2015,1.5558,1.5511,1.5596,1.5492,0.28,2015-07-27
2015-07-24,7,24,2015,1.5514,1.5514,1.5527,1.5467,0.00,2015-07-24
2015-07-23,7,23,2015,1.5514,1.5616,1.5673,1.5501,-0.64,2015-07-23
2015-07-22,7,22,2015,1.5614,1.5558,1.5646,1.5545,0.36,2015-07-22
2015-07-21,7,21,2015,1.5558,1.5562,1.5591,1.5528,-0.05,2015-07-21
2015-07-20,7,20,2015,1.5566,1.5610,1.5629,1.5539,-0.28,2015-07-20
2015-07-17,7,17,2015,1.5609,1.5610,1.5672,1.5555,-0.01,2015-07-17
2015-07-16,7,16,2015,1.5610,1.5642,1.5654,1.5562,-0.17,2015-07-16
2015-07-15,7,15,2015,1.5637,1.5634,1.5676,1.5577,0.01,2015-07-15
2015-07-14,7,14,2015,1.5636,1.5491,1.5644,1.5455,0.96,2015-07-14
2015-07-13,7,13,2015,1.5488,1.5505,1.5591,1.5480,-0.24,2015-07-13
2015-07-10,7,10,2015,1.5526,1.5381,1.5551,1.5362,0.95,2015-07-10
2015-07-09,7,9,2015,1.5380,1.5361,1.5423,1.5344,0.12,2015-07-09
2015-07-08,7,8,2015,1.5362,1.5463,1.5467,1.5330,-0.65,2015-07-08
2015-07-07,7,7,2015,1.5462,1.5602,1.5610,1.5414,-0.92,2015-07-07
2015-07-06,7,6,2015,1.5606,1.5538,1.5633,1.5535,0.23,2015-07-06
2015-07-03,7,3,2015,1.5570,1.5610,1.5646,1.5558,-0.25,2015-07-03
2015-07-02,7,2,2015,1.5609,1.5616,1.5641,1.5563,-0.06,2015-07-02
2015-07-01,7,1,2015,1.5618,1.5713,1.5737,1.5594,-0.58,2015-07-01

This is all that is needed for the FX data

In [83]:
sales = Schema(desc = "sales")
filter1 = Filter(sales1, sales)

In [80]:
filter1._data.dtypes

Date            object
Tickets Sold     int64
dtype: object

In [84]:
pd.to_datetime(filter1._data.Date)

0      2018-07-18
1      2018-07-17
2      2018-07-16
3      2018-07-15
4      2018-07-14
5      2018-07-13
6      2018-07-12
7      2018-07-11
8      2018-07-10
9      2018-07-09
10     2018-07-08
11     2018-07-07
12     2018-07-06
13     2018-07-05
14     2018-07-04
15     2018-07-03
16     2018-07-02
17     2018-07-01
18     2018-06-30
19     2018-06-29
20     2018-06-28
21     2018-06-27
22     2018-06-26
23     2018-06-25
24     2018-06-24
25     2018-06-23
26     2018-06-22
27     2018-06-21
28     2018-06-20
29     2018-06-19
          ...
1834   2013-07-10
1835   2013-07-09
1836   2013-07-08
1837   2013-07-07
1838   2013-07-06
1839   2013-07-05
1840   2013-07-04
1841   2013-07-03
1842   2013-07-02
1843   2013-07-01
1844   2013-06-30
1845   2013-06-29
1846   2013-06-28
1847   2013-06-27
1848   2013-06-26
1849   2013-06-25
1850   2013-06-24
1851   2013-06-23
1852   2013-06-22
1853   2013-06-21
1854   2013-06-20
1855   2013-06-19
1856   2013-06-18
1857   2013-06-17
1858   2013-06-16
1859   2013-06-15
1860   2013-06-14
1861   2013-06-13
1862   2013-06-12
1863   2013-06-11
Name: Date, Length: 1864, dtype: datetime64[ns]

In [85]:
filter1.series("datetime", index=True)
filter1._data.dtypes

Date            object
Tickets Sold     int64
dtype: object

In [86]:
filter1._data.head()

                  Date  Tickets Sold
Date
2018-07-18  2018-07-18          1587
2018-07-17  2018-07-17          1576
2018-07-16  2018-07-16          1665
2018-07-15  2018-07-15          1639
2018-07-14  2018-07-14          1391

In [88]:
weather = Schema(desc = "weather")
filter2 = Filter(wthr1, weather)

In [89]:
filter2._data.head()

       STATION         NAME        DATE  PRCP  TAVG  TMAX  TMIN
0  UKM00003772  HEATHROW UK  01/07/2013   0.0  16.6  21.3   NaN
1  UKM00003772  HEATHROW UK  02/07/2013   0.0  14.4  17.9   NaN
2  UKM00003772  HEATHROW UK  03/07/2013   1.3  17.0  21.5   NaN
3  UKM00003772  HEATHROW UK  04/07/2013   0.0  18.3  24.9   NaN
4  UKM00003772  HEATHROW UK  05/07/2013   0.0  19.1  26.3   NaN

In [91]:
filter2.series("datetime", index=True)

0      2013-01-07
1      2013-02-07
2      2013-03-07
3      2013-04-07
4      2013-05-07
5      2013-06-07
6      2013-07-07
7      2013-08-07
8      2013-09-07
9      2013-10-07
10     2013-11-07
11     2013-12-07
12     2013-07-13
13     2013-07-14
14     2013-07-15
15     2013-07-16
16     2013-07-17
17     2013-07-18
18     2013-07-19
19     2013-07-20
20     2013-07-21
21     2013-07-22
22     2013-07-23
23     2013-07-24
24     2013-07-25
25     2013-07-26
26     2013-07-27
27     2013-07-28
28     2013-07-29
29     2013-07-30
          ...
1812   2018-06-19
1813   2018-06-20
1814   2018-06-21
1815   2018-06-22
1816   2018-06-23
1817   2018-06-24
1818   2018-06-25
1819   2018-06-26
1820   2018-06-27
1821   2018-06-28
1822   2018-06-29
1823   2018-06-30
1824   2018-01-07
1825   2018-02-07
1826   2018-03-07
1827   2018-04-07
1828   2018-05-07
1829   2018-06-07
1830   2018-07-07
1831   2018-08-07
1832   2018-09-07
1833   2018-10-07
1834   2018-11-07
1835   2018-12-07
1836   2018-07-13
1837   2018-07-14
1838   2018-07-15
1839   2018-07-16
1840   2018-07-17
1841   2018-07-18
Name: DATE, Length: 1842, dtype: datetime64[ns]

In [93]:
filter2.head()

AttributeError: 'Filter' object has no attribute 'head'

In [55]:
pd.to_datetime(filter2._data['DATE'])

0      2013-01-07
1      2013-02-07
2      2013-03-07
3      2013-04-07
4      2013-05-07
5      2013-06-07
6      2013-07-07
7      2013-08-07
8      2013-09-07
9      2013-10-07
10     2013-11-07
11     2013-12-07
12     2013-07-13
13     2013-07-14
14     2013-07-15
15     2013-07-16
16     2013-07-17
17     2013-07-18
18     2013-07-19
19     2013-07-20
20     2013-07-21
21     2013-07-22
22     2013-07-23
23     2013-07-24
24     2013-07-25
25     2013-07-26
26     2013-07-27
27     2013-07-28
28     2013-07-29
29     2013-07-30
          ...
1812   2018-06-19
1813   2018-06-20
1814   2018-06-21
1815   2018-06-22
1816   2018-06-23
1817   2018-06-24
1818   2018-06-25
1819   2018-06-26
1820   2018-06-27
1821   2018-06-28
1822   2018-06-29
1823   2018-06-30
1824   2018-01-07
1825   2018-02-07
1826   2018-03-07
1827   2018-04-07
1828   2018-05-07
1829   2018-06-07
1830   2018-07-07
1831   2018-08-07
1832   2018-09-07
1833   2018-10-07
1834   2018-11-07
1835   2018-12-07
1836   2018-07-13
1837   2018-07-14
1838   2018-07-15
1839   2018-07-16
1840   2018-07-17
1841   2018-07-18
Name: DATE, Length: 1842, dtype: datetime64[ns]

In [59]:
fruit = {"apple" : 5, "pear" : 3, "banana" : 4, "pineapple" : 1, "cherry" : 20}

In [60]:
list(filter(lambda x: x == "apple", fruit))

['apple']

In [61]:
"apple1" in fruit

False